/* Variables */
:root {
  /* basic colours */
  --basic-white: #FFFFFF;
  --basic-white-half: rgba(255, 255, 255, 0.5);
  --basic-white-third: rgba(255, 255, 255, 0.3);
  --shadow: rgba(0, 0, 0, 0.15);
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-red-hover: #CA2C37;
  --basic-green: #63A63E;
  --basic-grey: #A9A9A9;
  --basic-grey-light: #C5C5C5;
  --basic-grey-middle: #CCCCCC;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFD180;
  --grey-border: #E5E5E5;
  --grey-header-background: #F3F7F9;
  --dark-blue: #32425C;
  --dark-green: #367315;
  --dark-green-active: #518534;
  --very-dark-blue: #293449;
  --very-dark-blue-socialBtn: #212A3A;
  /* behaviour */
  --error: #BA2732;
  --success: #5FBB2D;
  --onclick: #61D322;
  /*special */
  --lighten-background: #F9F5F0;
  --light-background: #F7F3EC;
  --range-background: #D7DCDE;
  /* features */
  --light-braun-background: #FFBF47;
  --blue-background: #3BBCE3;
  --pale-lilac-background: #DC91D8;
  --pale-green-background: #8ED78F;
  --pale-yellow-background: #FFC047;
  /*out of category*/
  --gray-blue: #405069;
  --very-light-grey: #F4F4F4;
  --bar-green: #00ca74;
  --toogle-grey: #ABABAB;
}

/*basic*/
.page {
  width: 100%;
  height: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2, h3 {
  text-transform: uppercase;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
  text-align: center;
  border: none;
  padding: 11px 24px 9px 24px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

/*styles for header*/
.pageHeader {
  background-color: var(--grey-header-background);
}

.headerFirstLine {
  background-color: var(--very-dark-blue);
}

.headerFirstLine a {
  color: var(--basic-white);
}

.searchForm:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.searchForm:active .iconSearch {
  color: var(--basic-red);
}

.mainLogo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.mainLogo:active {
  background-color: var(--error);
}

.iconHeader {
  opacity: 0.3;
}

.iconHeader:hover {
  opacity: 1;
}

.bookCart:focus {
  color: var(--basic-white-half);
}

.btnOrder {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.btnOrder:focus {
  opacity: 0.5;
}

.description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: var(--basic-red);
}

.headerPhone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.headerAdress {
  color: var(--dark-blue);
  font-size: 14px;
  text-align: center;
}

.siteNav {
  background-color: var(--dark-blue);
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.siteNav a {
  color: var(--basic-white);
  margin: 56px 0px;
}

.login {
  background-color: var(--basic-white);
  color: var(--basic-black);
  height: 45px;
  width: 121px;
  border-radius: 0px;
  align-items: center;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.signUp {
  height: 45px;
  width: 150px;
}

.userName {
  height: 45px;
  width: 299px;
}

.login:hover {
  color: var(--basic-red);
}

.login:focus {
  color: var(--basic-grey-light);
}

/*for .features*/
.features {
  width: 940px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 59px;
  margin-bottom: 59px;
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0;
}

.btnSlide {
  position: absolute;
  top: calc(50% - 25px);
  height: 50px;
  background-color: transparent;
  border: none;
}

.btnPrevSlide {
  left: 0;
}

.btnNextSlide {
  right: 0;
}

.btnCatalog {
  position: absolute;
  top: 201px;
  left: 24px;
  padding: 10px 46px 10px 46px;
}

.checkSlide {
  position: absolute;
  bottom: 37px;
  left: 48%;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.checkSlide button {
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.checkSlide .currentSlide::before {
  content: "";
  top: 2px;
  left: 2px;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-red);
}

.caption {
  position: absolute;
  top: 23px;
  left: 24px;
}

.caption h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  display: inline;
}

.caption p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
}

.currentSlide {
  display: block;
}

.btnNextSlide img {
  transform: rotate(-180deg);
}

.sliderContent {
  display: flex;
  align-items: flex-start;
}

.featureItem {
  width: 300px;
  height: 123px;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 85%;
}

.featureItem h3 {
  text-transform: none;
  padding-left: 23px;
  margin: 17px 0 0;
}

.materials {
  background-color: var(--light-braun-background);
  background-image: url("../img/features/icon-materials.svg");
}

.tools {
  background-color: var(--blue-background);
  background-image: url("../img/features/icon-tools.svg");
}

.equipment {
  background-color: var(--pale-lilac-background);
  background-image: url("../img/features/icon-equipment.svg");
}

.discount {
  background-color: var(--pale-green-background);
  background-image: url("../img/features/icon-discount.svg");
}

.delivery {
  background-color: var(--pale-yellow-background);
  background-image: url("../img/features/icon-delivery.svg");
}

.btnRedirect {
  width: 135px;
  height: 38px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-white-third);
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  margin-left: 23px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btnRedirect:hover {
  background-color: var(--basic-grey-light);
}

.btnRedirect:focus {
  background-color: var(--basic-grey-middle);
}

.btnCatalog:hover {
  background-color: var(--basic-red-hover);
}

.btnCatalog:focus {
  background-color: var(--error);
}

/*for .popGoods*/
.popHeader {
  background-color: var(--lighten-background);
  color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.popHeader h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
  color: var(--dark-blue);
  font-weight: 400;
}

.btnPops {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  border: none;
  padding: 11px 24px 9px 24px;
  margin-right: 15px;
}

.popGoodsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.hoverOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  visibility: hidden;
}

.btnBuy {
  background-color: var(--basic-green);
  width: 135px;
  height: 38px;
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  margin-bottom: 10px;
}

.btnBuy::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-right: 10px;
}

.btnBookmark {
  width: 135px;
  height: 38px;
  color: var(--dark-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.popGoodsItem {
  width: 220px;
  height: 318px;
  margin-right: 21px;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popGoodsItem:last-child {
  margin-right: 0;
}

.newMark::after {
  content: "NEW";
  position: absolute;
  display: flex;
  top: 7px;
  right: -25px;
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  transform: rotate(45deg);
}

.popGoodsItem h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  display: flex;
  justify-content: center;
  text-align: center;
}

.popGoodsItem img {
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.popGoodsItem:hover .hoverOptions {
  visibility: visible;
}

.popGoodsItem:hover img {
  visibility: hidden;
}

.popGoodsItem:hover {
  box-shadow: 0px 4px 20px var(--shadow);
}

.btnBuy:hover {
  background-color: var(--success);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
}

.btnBuy:active,
.btnBuy:focus {
  background-color: var(--dark-green-active);
  box-shadow: inset 0px -3px 0px var(--dark-green);
}

.btnBookmark:hover {
  border: 3px solid var(--dark-blue);
  box-sizing: border-box;
  border-radius: 2px;
}

.btnBookmark:active,
.btnBookmark:focus {
  border: 3px solid var(--dark-blue);
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5;
}

.oldPrice {
  color: var(--basic-grey);
  text-decoration: line-through;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 13px;
}

.btnNewPrice {
  font-size: 17px;
  line-height: 18px;
  height: 38px;
  width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 47px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 18px;
  position: relative;
  padding: 9px 23px 11px 32px;
}

.btnNewPrice:after {
  border-top: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  border-bottom: 19px solid transparent;
  content: "";
  position: absolute;
  right: -19px;
  top: 0px;
}

/* for popular Manufactors*/
.popManufactorsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.popManufactorsItem {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popManufactorsItem:nth-child(4n) {
  margin-right: 0;
}

.popManufactorsItem img {}

.popManufactorsItem:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popManufactorsItem:focus {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*for services*/
.services {
  background-color: var(--basic-background);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  margin: 0 auto;
  padding-bottom: 115px;
}

.services h2,
.services h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.services h3 {
  color: var(--dark-blue);
  padding-left: 70px;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  padding-left: 70px;
}

.servicesSlider {
  width: 940px;
  display: flex;
  position: relative;
}

.deliveryService::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../img/delivery-track.png");
  width: 468px;
  height: 261px;
}

.guaranteeSlide::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../img/guarantee.png");
  width: 389px;
  height: 283px;
}

.creditSlide::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../img/money-credit.png");
  width: 465px;
  height: 285px;
}

.servicesList {
  max-width: 240px;
  position: relative;
  padding: 0;
  margin: 0;
  margin margin-right: 80px;
}

.servicesList li {
  background: var(--dark-blue);
  box-shadow: 0 1px 0 var(--very-dark-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 142px 15px 25px;
}

.servicesList li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/svg/icon-shadow.png");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.servicesList .checked {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
  color: var(--dark-blue);
}

.servicesList li:hover:not(.checked) {
  background: var(--very-dark-blue);
  box-shadow: 0 1px 0 var(--very-dark-blue);
}

.servicesList li:active {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
  color: var(--dark-blue);
}

/* for about and contacts*/
.transportCompanies {
  font-size: 18px;
}

/*for footer*/
.pageFooter {
  background-color: var(--dark-blue);
  color: var(--grey-header-background);
}

.footerNavFisrt a,
.footerContacts,
.footerContacts a,
.footerNavSecond {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.footerNavSecond a {
  color: var(--basic-yellow);
}

.footerNavFisrt li:hover, .footerNavSecond li:hover {
  text-decoration: underline;
}

.footerNavFisrt li:focus, .footerNavSecond li:focus {
  opacity: 0.5;
}

.footerLastLine {
  background-color: var(--very-dark-blue);
  color: var(--basic-white);
}

.social {
  text-align: center;
}

.socialBtn {
  width: 44px;
  height: 44px;
  vertical-align: center;
  text-align: center;
  background-color: var(--very-dark-blue-socialBtn);
  border-radius: 50%;
}

.socialBtn span {}

.socialBtn:hover,
.socialBtn:focus {
  background-color: var(--basic-red);
}

.reference {
  color: var(--basic-yellow);
}

/*catalog*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

/*filter*/
.filter {
  width: 220px;
  height: 720px;
}

.filter h2 {
  background-color: var(--light-background);
}

.rangeControls {
  position: relative;
  width: 220px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--range-background);
  margin-bottom: 9px;
}

.rangeControls .scale {
  height: 2px;
  background-color: var(--range-background);
}

.rangeControls .bar {
  width: 70%;
  height: 2px;
  background: var(--bar-green);
}

.rangeControls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--toogle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.rangeControls .minToogle {
  left: 18px;
}

.rangeControls .maxToogle {
  left: 160px;
}

.priceControls {
  display: flex;
  justify-content: space-between;
}

.priceRange {
  font-weight: normal;
}

.priceOutput {
  background-color: var(--light-background);
  height: 38px;
  width: 95px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border: none;
}

.filterOption legend {
  font-weight: bold;
  line-height: 30px;
}

.filterOption {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*sort*/
.sort {
  background-color: var(--light-background);
}

.sortList {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  opacity: 0.3;
}

.sortList .current {
  color: var(--basic-red);
}

.articleFewWords {
  width: 1200px;
  background-color: var(--basic-background);
}

.articleFewWords h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.articleFewWords p {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Pagination */
.pagination a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination li {
  height: 38px;
  width: 38px;
  text-align: center;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.paginationCurrent {
  background-color: var(--basic-red);
}

.paginationCurrent a {
  color: var(--basic-white);
}

.paginationNext li {
  width: 140px;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
}

/*popUp*/
.popUp {
  display: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popUpClose {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.writeUs {
  width: 620px;
  top: 120px;
  bottom: auto;
  background-color: var(--basic-white);
}

.writeUsLogin {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 13px;
}

.writeUsLoginSection {
  width: 48%
}

.labelForm {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  font-family: "Cuprum", Arial, sans-serif;
  padding-bottom: 11px;
}

.inputBox {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-grey);
  border: 2px solid var(--basic-grey-light);
  box-sizing: border-box;
  border-radius: 2px;
  height: 38px;
  width: 220px;
  margin-top: 11px;
}

.writeUsForm textarea {
  height: 114px;
  width: 460px;
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}

.writeUsLoginTextArea {
  padding-left: 80px;
  padding-right: 80px;
}

.lineSubmit {
  background-color: var(--very-light-grey);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
}

.btnSubmit {
  height: 38px;
  width: 460px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.mapPopUp {
  width: 943px;
  height: 449px;
}

.mapPopUp iframe {
  border: none;
}
