/* Variables */
:root {
  /* basic colours */
  --basic-white: #FFFFFF;
  --basic-white-half: rgba(255, 255, 255, 0.5);
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-red-hover: #CA2C37;
  --basic-green: #63A63E;
  --basic-grey: #A9A9A9;
  --basic-grey-light: #C5C5C5;
  --basic-grey-middle: #CCCCCC;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFD180;
  --grey-border: #E5E5E5;
  --grey-header-background: #F3F7F9;
  --dark-blue: #32425C;
  --very-dark-blue: #293449;
  --very-dark-blue-socialBtn: #212A3A;
  /* behaviour */
  --error: #BA2732;
  --success: #5FBB2D;
  --onclick: #61D322;
  /*special */
  --lighten-background: #F9F5F0;
  --light-background: #F7F3EC;
  --range-background: #D7DCDE;
  /* features */
  --light-braun-background: #FFBF47;
  --blue-background: #3BBCE3;
  --pale-lilac-background: #DC91D8;
  --pale-green-background: #8ED78F;
  --pale-yellow-background: #FFC047;
  /*out of category*/
  --gray-blue: #405069;
  --very-light-grey: #F4F4F4;
  --bar-green: #00ca74;
  --toogle-grey: #ABABAB;
}

/*basic*/
.page {
  width: 100%;
  height: 100%;
}

.pageBody {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

/*styles for header*/
.pageHeader {
  width: 1200px;
  background-color: var(--grey-header-background);
  display: grid;
}

.headerFirstLine {
  background-color: var(--very-dark-blue);
  grid-template-columns: 220px 225px 1fr;
}

.headerFirstLine a {
  color: var(--basic-white);
}

.searchForm:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.searchForm:active .iconSearch {
  color: var(--basic-red);
}

.mainLogo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.mainLogo:active {
  background-color: var(--error);
}

.iconHeader {
  opacity: 0.3;
}

.iconHeader:hover {
  opacity: 1;
}

.bookCart:focus {
  color: var(--basic-white-half);
}

.btnOrder {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.btnOrder:focus {
  opacity: 0.5;
}

.description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: var(--basic-red);
}

.headerPhone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.headerAdress {
  color: var(--dark-blue);
  font-size: 14px;
  text-align: center;
}

.siteNav {
  background-color: var(--dark-blue);
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.siteNav a {
  color: var(--basic-white);
  margin: 56px 0px;
}

.login {
  background-color: var(--basic-white);
  color: var(--basic-black);
  height: 45px;
  width: 121px;
  border-radius: 0px;
  align-items: center;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.signUp {
  height: 45px;
  width: 150px;
}

.userName {
  height: 45px;
  width: 299px;
}

.login:hover {
  color: var(--basic-red);
}

.login:focus {
  color: var(--basic-grey-light);
}

/*for .features*/
.materials, .tools, .equipment, .discount, .delivery {
  width: 300px;
  height: 123px;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
}

.materials {
  background-color: var(--light-braun-background);
}

.tools {
  background-color: var(--blue-background);
}

.equipment {
  background-color: var(--pale-lilac-background);
}

.discount {
  background-color: var(--pale-green-background);
}

.delivery {
  background-color: var(--pale-yellow-background);
}

.btnRedirect {
  width: 135px;
  height: 38px;
  opacity: 1;
}

.btnRedirect:hover {
  background-color: var(--basic-grey-light);
}

.btnRedirect:focus {
  background-color: var(--basic-grey-middle);
}

.btnCatalog:hover {
  background-color: var(--basic-red-hover);
}

.btnCatalog:focus {
  background-color: var(--error);
}

/* for slider*/

.sliderInner {
  overflow: hidden;
}

.sliderSlides {
  width: 200%
}

.sliderSlides img {
  float: left;
}

.nextSlide img {
  transform: rotate(-180deg);
}

.prevSlide:focus ~ .sliderInner .sliderSlides {
  transform: translate(620px);
  }

.nextSlide:focus ~ .sliderInner .sliderSlides {
  transform: translate(-620px);
  }

/*for .popGoods*/
.popHeader {
  background-color: var(--lighten-background);
  color: var(--dark-blue);
}

.popGoodsItem {
  width: 220px;
  height: 318px;
}

.oldPrice {
  color: var(--basic-grey);
  text-decoration: line-through;
}

.popManufactorsItem {
  width: 220px;
  height: 145px;
}

.popManufactorsItem:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popManufactorsItem:focus {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/*for services*/
.services {
  background-color: var(--basic-background);
  width: 1200px;
}

.servicesList li {
  background: var(--dark-blue);
  box-shadow: 0 1px 0 var(--very-dark-blue);
  color: var(--basic-white);
}

.servicesList a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list .checked {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
}

.checked a {
  color: var(--dark-blue);
}

.servicesList li:hover:not(.checked) {
  background: var(--very-dark-blue);
  box-shadow: 0 1px 0 var(--very-dark-blue);
}

.transportCompanies {
  font-size: 18px;
}

/*for footer*/
.pageFooter {
  width: 1200px;
  background-color: var(--dark-blue);
  color: var(--grey-header-background);
}

.footerNavFisrt a,
.footerContacts,
.footerContacts a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.footerNavSecond a {
  color: var(--basic-yellow);
}

.footerNavFisrt li:hover, .footerNavSecond li:hover {
  text-decoration: underline;
}

.footerNavFisrt li:focus, .footerNavSecond li:focus {
  opacity: 0.5;
}

.footerLastLine {
  background-color: var(--very-dark-blue);
  color: var(--basic-white);
}

.social {
  text-align: center;
}

.socialBtn {
  width: 44px;
  height: 44px;
  vertical-align: center;
  text-align: center;
  background-color: var(--very-dark-blue-socialBtn);
  border-radius: 50%;
}

.socialBtn span {}

.socialBtn:hover,
.socialBtn:focus {
  background-color: var(--basic-red);
}

.reference {
  background-color: var(--basic-yellow);
}

/*catalog*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

/*filter*/
.filter {
  width: 220px;
  height: 720px;
}

.filter h2 {
  background-color: var(--light-background);
}

.rangeControls {
  position: relative;
  width: 220px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--range-background);
  margin-bottom: 9px;
}

.rangeControls .scale {
  height: 2px;
  background-color: var(--range-background);
}

.rangeControls .bar {
  width: 70%;
  height: 2px;
  background: var(--bar-green);
}

.rangeControls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--toogle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.rangeControls .minToogle {
  left: 18px;
}

.rangeControls .maxToogle {
  left: 160px;
}

.priceControls {
  display: flex;
  justify-content: space-between;
}

.priceRange {
  font-weight: normal;
}

.priceOutput {
  background-color: var(--light-background);
  height: 38px;
  width: 95px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border: none;
}

.filterOption legend {
  font-weight: bold;
  line-height: 30px;
}

.filterOption {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*sort*/
.sort {
  background-color: var(--light-background);
}

.sortList {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  opacity: 0.3;
}

.sortList .current {
  color: var(--basic-red);
}

.articleFewWords {
  width: 1200px;
  background-color: var(--basic-background);
}

.articleFewWords h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.articleFewWords p {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Pagination */
.pagination a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination li {
  height: 38px;
  width: 38px;
  text-align: center;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.paginationCurrent {
  background-color: var(--basic-red);
}

.paginationCurrent a {
  color: var(--basic-white);
}

.paginationNext li {
  width: 140px;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
}

/*popUp*/
.popUp {
  display: none;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popUpClose {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
	background-color: transparent;
  border: 0;
  cursor: pointer;
}

.writeUs {
  width: 620px;
  top: 120px;
  bottom: auto;
  background-color: var(--basic-white);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.writeUsLogin {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 220px;
}

.labelForm {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  font-family: "Cuprum", Arial, sans-serif;
}

.inputBox {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-grey);
  border: 2px solid var(--basic-grey-light);
  box-sizing: border-box;
  border-radius: 2px;
  width: 220px;
  height: 38px;
  margin-top: 10px;
}

.writeUsForm textarea {
  display: flex;
  flex-direction: column;
}

.lineSubmit {
  background-color: var(--very-light-grey);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSubmit {
  height: 38px;
  width: 460px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.mapPopUp {
  width: 943px;
height: 449px;
}

.mapPopUp iframe {
  border: none;
}
